nav {
    display: flex;
    border: solid 1px red;
    height: 6vw;
    position: absolute;
    bottom: 50px;
    margin-left: -25px; 

}

nav li {
    display: inline;
    cursor: pointer; 
 
    

}

nav img {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    /* box-shadow:.5em .5em .25em rgb(68, 65, 65); */
}


nav li[navigate] img {
    height: 70%;
    width: 8%;
}