nav {
    display: flex;
    border: solid 4px red;
    height: 6vw;
    position: absolute;
    bottom: 50px;
    width:3500px;
    left:-25%;
    
}

nav li {
    display: inline;
}

nav img {
height: 100%;
}